body {
	background-color: gray;
}

h2 {
    display: block;
    font-family:arial;
    text-align:center;
    margin : 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 16px;
    

}

div form {
    display: block;
    text-align: center;
    margin: 0 auto;
 

}

input {
	margin: auto;
	background: #fcfbcc;
}

#wrap {
	background-color:MediumSeaGreen;
	max-width:400px;
	height:400px;
	margin : 0 auto;
	border-radius: 5%;
}



#button {
    position : relative;
    display: block;
    height:20px;
	width:70px;
	background-color:YellowGreen;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	
	margin: 2px auto 15px auto;

}

.list {
	font-family:garamond;
	color:white;
	font-weight: bold;
	text-align: center;
}
